@model IEnumerable<MVC作業.Models.客戶聯絡人>

@{
    ViewBag.Title = "客戶聯絡人管理";
}

<h2>客戶聯絡人管理</h2>
@if (TempData["回應"] != null)
{
    <pre> @TempData["回應"].ToString() 不存在!!</pre>
}

@using (Html.BeginForm("Index", "UserCt", FormMethod.Get))
{
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10 text-right">
            姓名：@Html.TextBox("namesearch")
            <input type="submit" value="查詢" class="btn btn-default" />
            <input type="button" value="匯出Excel" class="btn btn-default" onclick="location.href='@Url.Action("Export", "UserCt" )'" />
        </div>
    </div>
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @using (Html.BeginForm("SelectC", "UserCt", FormMethod.Get))
            {
                @*@Html.DisplayNameFor(model => model.職稱)*@
                @Html.ActionLink("職稱", "DSort", new { 排序 = ViewBag.JobSort })
                @Html.DropDownList("職稱", (SelectList)ViewBag.Values, htmlAttributes: new { @class = "form-control", @onchange = "this.form.submit();" })
            }
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.姓名)*@
            @Html.ActionLink("姓名", "DSort", new { 排序 = ViewBag.NameSort })
        </th>
        <th>
            @*        @Html.DisplayNameFor(model => model.Email)*@
            @Html.ActionLink("Email", "DSort", new { 排序 = ViewBag.EmailSort })
        </th>
        <th>
            @Html.ActionLink("手機", "DSort", new { 排序 = ViewBag.PhoneSort })
            @*   @Html.DisplayNameFor(model => model.手機)*@
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.電話)*@
            @Html.ActionLink("電話", "DSort", new { 排序 = ViewBag.TelSort })
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.客戶資料.客戶名稱)*@
            @Html.ActionLink("客戶名稱", "DSort", new { 排序 = ViewBag.UserSort })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.職稱)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.姓名)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.手機)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.電話)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.客戶資料.客戶名稱)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
