@model IEnumerable<MVC作業.Models.客戶資料>

@{
    ViewBag.Title = "客戶資料管理";
}

<h2>客戶資料管理</h2>
@if (TempData["回應"] != null)
{
    <pre> @TempData["回應"].ToString() 不存在!!</pre>
}

@using (Html.BeginForm("SelectC", "User", FormMethod.Get))
{
    <div class="col-md-offset-0 col-md-10 text-left">
        <table>
            <tr>
                <td>
                    客戶分類：
                </td>
                <td>
                    @Html.DropDownList("客戶分類", (SelectList)ViewBag.Values, htmlAttributes: new { @class = "form-control", @onchange = "this.form.submit();" })
                </td>
            </tr>
        </table>
    </div>
}
@using (Html.BeginForm("Index", "User", FormMethod.Get))
{
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10 text-right">
            客戶名稱：@Html.TextBox("namesearch")
            <input type="submit" value="查詢" class="btn btn-default" />
            <input type="button" value="匯出Excel" class="btn btn-default" onclick="location.href='@Url.Action("Export", "User" )'" />
        </div>
    </div>
}
<br />
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("客戶名稱", "DSort", new { 排序 = ViewBag.NameSort })
            @*@Html.DisplayNameFor(model => model.客戶名稱)*@
        </th>
        <th>
            @Html.ActionLink("客戶分類", "DSort", new { 排序 = ViewBag.NameSort })
            @*@Html.DisplayNameFor(model => model.客戶名稱)*@
        </th>
        <th>
            @Html.ActionLink("統一編號", "DSort", new { 排序 = ViewBag.NumlSort })
            @*@Html.DisplayNameFor(model => model.統一編號)*@
        </th>
        <th>
            @Html.ActionLink("電話", "DSort", new { 排序 = ViewBag.TelSort })
            @*@Html.DisplayNameFor(model => model.電話)*@
        </th>
        <th>
            @Html.ActionLink("傳真", "DSort", new { 排序 = ViewBag.FaxSort })
            @*@Html.DisplayNameFor(model => model.傳真)*@
        </th>
        <th>
            @Html.ActionLink("地址", "DSort", new { 排序 = ViewBag.AddSort })
            @*@Html.DisplayNameFor(model => model.地址)*@
        </th>
        <th>
            @Html.ActionLink("Email", "DSort", new { 排序 = ViewBag.EmailSort })
            @*     @Html.DisplayNameFor(model => model.Email)*@
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.客戶名稱)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.客戶分類)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.統一編號)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.電話)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.傳真)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.地址)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
